name: check

on:
  pull_request:
    branches: [ master ]

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3.4.0
      - name: use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: install package
        run: npm install
      - name: build vue code
        run: npm run build